body {
    background-color: 		#7fb174;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
h1 {
    margin: 10px;
    background-color: #072a24;
    color:     #9BCFB8;
    text-align: center;
}
.row {
    display: flex;
}

.formOne {
   display: block;
   width: 50%;
   margin: 20px;
   line-height: 20px;
   text-align: justify;
}

.center { 
    margin: auto;
    padding: auto;
}

.customheader{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: 0 0;
}
.background-baer{
    background-image: url('../Bilder/Baer.jpg')
}
.background-lion{
    background-image: url('../Bilder/lion.jpg');
}




@media screen and (max-width: 720px) {
    .row {
        display: block;
        margin-left: 10px;
        width: 100%;
    }

    .newrow { 
        width: 100%;
     }
}

 
.Navigation ul {
    background-color: #072a24;
    margin: 0;
    padding: 15px;
    color:#7fb174;
}

.Navigation ul li {
    display: inline;
   margin: 10px;
   font-size: 20px;
   text-decoration: none;
   }
   
   .Navigation ul li a {
   
      text-decoration: none;
      }

   .footer{
       text-align: center;
   }
